<%= form_with(model: hackvertisement) do |form| %>
  <% if hackvertisement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hackvertisement.errors.count, "error") %> prohibited this hackvertisement from being saved:</h2>

      <ul>
        <% hackvertisement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <hr>

  <script>
    // Source - https://stackoverflow.com/a/12369027
    // Posted by ygssoni, modified by community. See post 'Timeline' for change history
    // Retrieved 2026-03-12, License - CC BY-SA 4.0

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById("image-showcase").setAttribute("src",e.target.result)
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  <div class="form-container">
    <div>
      <div class="centered">
        <img id="image-showcase" alt="This is an image preview! Your hackvertisement will be previewed here when uploaded :3">
      </div>
      <br>
      <span class="label">Image </span><span class="label tooltip">[?]<div>This is the image that will be shown as your hackvertisement!</div></span>
      <%= form.label :data do %>
        <span class="smol linkbutton">Upload image</span>
      <% end %>
      <%= form.file_field :data, style:"display:none", onchange:"readURL(this);" %>
    </div>
    <br>
    <div>
      <span class="label">Link </span><span class="label tooltip">[?]<div>This is the URL your hackvertisement will link to. This should be the project's repository, demo link, or a Hackclub project link.</div></span>
      <%= form.text_field :link, autocomplete:"off", type:"url" %>
    </div>
    <br>
    <br>
    <div class="centered">
      <%= form.submit %>
    </div>
  </div>
<% end %>
