<div id="<%= dom_id hackvertisement %>" style="width:fit-content;">
  <img class="admin-hackvertisement-image" src="<%= hackvertisement['data'] %>">

  <div>
    <strong>User:</strong>
    <%= hackvertisement.user_id %>
    <span style="float:right">
    <strong>Id: </strong>
    <%= hackvertisement.id %>
    </span>
  </div>

  <div>
    <strong>Data:</strong>
    <%= hackvertisement.data %>
  </div>

  <div>
    <strong>Link:</strong>
    <%= hackvertisement.link %>
  </div>

</div>
