<div id="<%= dom_id hackvertisement %>">
  <div>
    <strong>User:</strong>
    <%= hackvertisement.user_id %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= hackvertisement.date %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= hackvertisement.data %>
  </div>

  <div>
    <strong>Link:</strong>
    <%= hackvertisement.link %>
  </div>

</div>
