<div class="container">
  <div>
    <h2>viewing hackvertisement through admin panel</h2>
    <%= render @hackvertisement %>
    <span><strong>Created at</strong>: <pre style="display:inline"><%= @hackvertisement['created_at'] %></pre></span>
    <br>
    <br>

    <div>
      <%= link_to "Edit this hackvertisement", edit_hackvertisement_path(@hackvertisement) %> |
      <%= link_to "Back to hackvertisements", hackvertisements_path %>

      <%= button_to "Destroy this hackvertisement", @hackvertisement, method: :delete %>
    </div>
  </div>
</div>