<% if session[:user_id] != nil %>
  <div class="navbar">
    <%= link_to root_path, id:"home-item" do %>
      <%= image_tag("home.png") %>
      Home<% end %>
    <%= link_to dashboard_path, id:"dashboard-item" do %>
      <%= image_tag("dashboard.png") %>
      My stuff<% end %>
    <% if session[:user_id]["id"] == 1 %>
    <%= link_to "Admin Panel (you are the root user)", hackvertisements_path, id:"admin-panel-item" %>
    <% end %>

    <div data-turbo-prefetch="false">
      <%= link_to auth_delete_path, class:"linkbutton" do %>
        <%= session[:user_id]["name"] %> - Sign out
        <img src="<%= session[:user_id]["pfp"]  %>">
      <% end %>
    </div>
    <div id="darkmode-item">
      <label for="darkmode-switch">Darkmode</label>
      <button id="darkmode-switch">X</button>
    </div>
  </div>

  <style>
    .toadcan>img {
      margin-top: 65px;
    }
  </style>
<% else %>
  <div class="darkmode-switch-container">
    <label for="darkmode-switch">Darkmode</label><button id="darkmode-switch">X</button>
  </div>
<% end %>