<% content_for :title, "Hackvertisements Dashboard" %>

<style>
  #dashboard-item {
    text-decoration: underline;
  }
</style>

<br>
<br>

<div class="centered">
    <%= link_to "Create Hackvertisement", new_hackvertisement_path, class:"linkbutton"  %>
</div>
<div class="container">
    <div>
        <h1>your hackvertisements:</h1>
        
        <% if @hackvertisements.count > 0 %>
            <div id="hackvertisements">
                <% @hackvertisements.each do |hackvertisement| %>
                    <div class="user-hackvertisement">
                        <%= link_to hackvertisement["link"], class:"user-img" do  %>
                            <img src="<%= hackvertisement['data'] %>">
                        <% end %>
                        <%= link_to edit_hackvertisement_path(hackvertisement) do %>
                            <%= image_tag("pen.png") %> 
                            click to edit me
                        <% end %>
                        <a style="float:right; color:red; cursor: pointer;" onclick="console.log(this);this.nextElementSibling.querySelector('button').style.display = 'unset';this.nextElementSibling.style.display = 'unset'; this.style.display = 'none'">
                            <%= image_tag("delete.png") %> 
                            delete
                        </a>
                        <%= button_to hackvertisement, method: :delete do %>
                            <%= image_tag("delete.png") %> 
                            you sure?
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p>you dont have any hackvertisements yet. go make one!!</p>
        <% end %>
    </div>
</div>