<style>
  #home-item {
    text-decoration: underline;
  }
</style>

<div class="toadcan">
    <%= image_tag("toadcan.png") %>
</div>
<div class="star">
    <%= image_tag("star.png") %>
</div>

<div class="container">
    <div>
        <h1>hiya!! welcome to hackvertisements!!</h1>
        <p class="subtitle">fun, free showcase of your projects!!</p>
        <hr>
        <p>Anyone can create and upload a Hackvertisement, hell, you could make like ten!
        Anyone can also embed a Hackvertisement into their own website, like this: </p>

        <iframe referrerpolicy="origin" style="display:block;width:726px;max-width:100%;border:none;height:88px;margin-left: auto;margin-right: auto;" src="<%= serve_path %>"></iframe>

        <p style="margin-bottom: 0;">Made by: <a href="https://hackclub.enterprise.slack.com/team/U098P9DLUGJ">@iris</a> - DM me if you have any questions!</p>

        <% if !@logged_in %>
            <div class="centered">
                <a class="linkbutton" href="http://auth.hackclub.com/oauth/authorize?client_id=<%= ENV['CLIENT_ID'] %>&redirect_uri=<%= CGI.escape(url_for(only_path: false)+'auth/:provider/callback') %>&response_type=code&scope=slack_id+profile+openid">Sign in with Hack club</a>  
            </div> 
        <% end %>
    </div>
</div>

<div class="container">
    <div>
        <h2 style="text-align: center;font-size: 28px;">add a hackvertisement to your own website</h2>
        <p>To embed a Hackvertisement on your website, simply add this code: </p>
        
        <span>Anonymous </span><span class="label tooltip">[?]<div>Enabling this will opt out of the leaderboard and referrer URL will not be sent.</div></span><input autocomplete=off id="anonymous-box" type="checkbox" onchange="updateAnonymousBox(this)">
        <span style="width:100%;display:flex;">
        <textarea autocomplete=off readonly id="code" style="margin-right:5px;width: 100%;height:39px"><iframe referrerpolicy="origin" style="display:block;width:726px;max-width:100%;border:none;height:88px;margin-left: auto;margin-right: auto;" src="<%= url_for(only_path: false)+'serve' %>"></iframe></textarea>
        <button onclick="copy()" class="smol linkbutton" style="height: 46px;" onclick="">copy!</button>
        </span>

        <script>
            code = document.getElementById("code");
            function copy() {
                code.select();
                code.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(code.value);
            }
            referrerCode = '<iframe referrerpolicy="origin" style="display:block;width:726px;max-width:100%;border:none;height:88px;margin-left: auto;margin-right: auto;" src="<%= url_for(only_path: false)+'serve' %>"></iframe>';
            noReferrerCode = '<iframe style="display:block;width:726px;max-width:100%;border:none;height:88px;margin-left: auto;margin-right: auto;" src="<%= url_for(only_path: false)+'serve?anonymous=1' %>"></iframe>';
            function updateAnonymousBox(input) {
                code.value = input.checked ? noReferrerCode : referrerCode;
            }
        </script>
    </div>
</div>

<div class="container">
    <div>
        <h2 style="text-align: center;font-size: 28px;">about.</h2>
        <p>Why hackvertisements? Sometimes I wish there were more places within Hackclub to share projects you really care about and I would also really like to be able to show off other people's cool stuff on my website.</p>
        <p style="margin-bottom: 0;">This was sort of my solution to that. I really just hope people will use this so I'll have at least a couple of different Hackvertisements to show.</p>
    </div>
</div>

<% if !@logged_in and Rails.env.development?  %>
    <div class="container">
        <div>
            <h2>woaww,, you're a dev! heres the secret dev login :3</h2>
            <p>login by user id (UID)</p>

            <form action="/auth/dev">
                <input name="uid" type="text">
                <input type="submit">
            </form
        </div>
    </div>
<% end %>
