<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hackvertisements" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Hackvertisements">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.ico" type="image/png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
        dark = localStorage.getItem("dark") == "true";
        if (dark) {
          document.documentElement.classList.add('dark-root')
        }
    </script>
  </head>

  <body>
    <% if notice != nil and notice != "" %>
      <div id="notice" <% if notice.start_with?("error: ") %> class="error" <% end %>>
        <p><%= notice.delete_prefix("error: ") %></p>
        <button onclick="this.parentElement.remove()">X</button>
      </div>
    <% end %>
    <%= render "home/header" %>
    <%= yield %>
    <script defer>
      darkmodeButton = document.getElementById("darkmode-switch");
      darkmodeButton.checked = dark;
      darkmodeButton.addEventListener("click", (event) => {
          dark = !dark;
          localStorage.setItem("dark", dark);
          if (dark) {
            document.documentElement.classList.add('dark-root')
          } else {
            document.documentElement.classList.remove('dark-root')
          }
      })
    </script>
  </body>
</html>
